player-connection-mode=Listen
player-connection-guid=4139153030
player-connection-debug=0
player-connection-project-name=RateOfDecaySever
player-connection-ip=192.168.1.233
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=00cf5643fe444a218c75743ca4b79b10
